.link__format__controller a {
  text-decoration: none;
  color: black;
}

.product__card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 10px;
  width: 300px;
  height: 400px;
  background: white;
  transition: all 0.3s ease;
}

.product__image img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.single__product__title {
  font-size: clamp(12px, 2.5vw, 20px);
  font-weight: 700;
  margin: 5px 0;
  text-overflow: ellipsis;
  cursor: help;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product__rating {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 5px 0;
  margin-right: auto;
}

.product__rating__count {
  font-size: clamp(12px, 2.5vw, 16px);
  color: grey;
}

.product__price {
  margin-top: 5px 0;
  margin-right: auto;
  font-weight: lighter;
  font-size: clamp(14px, 2.5vw, 20px);
}

.product__add_to_cart_btn {
  width: 100%;
  transition: none;
}

.product__add_to_cart_btn button {
  border: none;
  font-size: clamp(14px, 2.5vw, 20px);
  width: 100%;
  transition: none;
  padding: 5px;
  border-radius: 10px;
  font-weight: 600;
  background-color: rgba(255, 217, 0, 0.524);
  cursor: pointer;
  margin: 5px 0;
}

.product__add_to_cart_btn button:hover {
  background-color: rgba(255, 217, 0, 1);
}

.flash {
  transform: scale(1.1);
}
