.result__container h1 {
  color: black;
  margin: 16px;
}

.result__path {
  margin: 16px;
  font-style: italic;
  font-weight: 500;
  color: gray;
}

.result__cards {
  color: black;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
  flex-wrap: wrap;
}
