.product__page__card__container {
  display: flex;
  gap: 20px;
  margin: 10px auto;
  padding: 10px;
  /* flex-wrap: wrap; */
  width: 100%;
  color: black;
  transition: all 0.3s ease;
}

.product__page__image img {
  max-width: 400px;
  height: auto;
  object-fit: contain;
  margin-right: 10px;
}

.product__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.single__product__page__title {
  font-size: clamp(12px, 2.5vw, 20px);
  font-weight: 700;
}

.product__page__description {
  /* max-width: 400px; */
}

.product__page__rating {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 5px 0;
  margin-right: auto;
}

.product__page__rating__count {
  font-size: clamp(12px, 2.5vw, 16px);
  color: grey;
}

.product__page__price {
  margin-top: 5px 0;
  margin-right: auto;
  font-weight: lighter;
  font-size: clamp(14px, 2.5vw, 20px);
}

.product__page__add_to_cart_btn {
  width: 100%;
}

.product__page__add_to_cart_btn button {
  border: none;
  font-size: clamp(14px, 2.5vw, 20px);
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  font-weight: 600;
  background-color: rgba(255, 217, 0, 0.524);
  cursor: pointer;
  margin: 5px 0;
}

.product__page__add_to_cart_btn button:hover {
  background-color: rgba(255, 217, 0, 1);
}

/* ================================
media query
================================ */

@media (max-width: 768px) {
  .product__page__card__container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .product__page__image img {
    max-width: 300px;
  }
}
