.cart__page__item__container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.cart__page__image {
  max-width: 400px;
  height: auto;
  flex-shrink: 1;
}

.cart__page__image img {
  max-width: 200px;
  max-height: 200px;
}

.cart__page__item_details {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  flex: 1;
}

.cart__page__item__title__dtlBtn {
  display: flex;
  justify-content: space-between;
}

.cart__page__item__title {
  font-size: clamp(12px, 2vw, 20px);
  font-weight: 700;
}

.cart__page__item__title a{
  text-decoration: none;
  color: black;
}

.cart__page__item__title a:hover {
  text-decoration: underline;
}

.cart__page__item__description {
  font-size: clamp(12px, 2vw, 16px);
  text-align: start;
  margin: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 2;
  overflow: hidden;
}


.hideContent{
  display: none;
}

.cart__page__item__delete__btn {
  margin-left: auto;
}

.cart__page__item__delete__btn button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

.cart__page__item__price__quantity {
  display: flex;
  margin-top: auto;
  align-items: baseline;
}

.cart__page__item__price {
  font-weight: 500;
  font-size: clamp(12px, 2vw, 16px);
  margin-left: 5px;
}

.cart__page__item__btn__quantity {
  display: flex;
  gap: 20px;
  margin-left: auto;
  border: 2px solid #ffd814;
  padding: 5px 10px;
  border-radius: 15px;
  align-items: center;
  font-size: clamp(12px, 2vw, 20px);
  font-weight: 500;
  user-select: none;
}

.cart__page__item__btn__quantity button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: clamp(12px, 2vw, 20px);
  font-weight: 500;
}

.cart__page__item__separator__line {
  margin: 15px 0;
  border-color: rgba(128, 128, 128, 0.174);
}
