.product__category__container {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  position: relative;
  flex-wrap: wrap;
  margin-top: -7%;
  z-index: 2;
}

.single__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 250px;
  height: 300px;
  text-decoration: none;
  /* box-shadow: 0px 0px 3px black; */
  padding: 10px 0;
  transition: all 0.3s ease;
}

.single__card img {
  width: 100%;
  max-height: 200px;
  height: 100%;
  object-fit: contain;
}

.product__title {
  text-transform: capitalize;
  color: black;
}

.single__card p{
  color: blue;
  margin-right: auto;
  padding: 0 10px;
  font-size: clamp(12px, 2.5vw, 16px );
}

/* Mobile and tablet view  */

@media (max-width: 768px) {
  .product__category__container {
    display: flex;
    place-items: center;
    max-width: 100%;
  }

  .single__card {
    display: flex;
    width: 200px;
    height: 300px;
  }
}

@media (max-width: 416px) {
  .single__card {
    display: flex;
    width: 300px;
    height: 300px;
  }
}
