.cart_page_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 30px;
  color: black;
}

.cart__page__leftside {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: white;
  padding: 20px 30px;
}

.cart__page__title {
  font-size: clamp(20px, 2.5vw, 26px);
  font-weight: lighter;
}

.cart__page__horizontal_line {
  border-width: 1px;
  border-color: goldenrod;
  border-style: solid;
  margin: 20px auto;
}

.cart__page__cart__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  height: 50vh;
  max-height: 60vh;
  justify-content: center;
}

.cart__empty {
  text-transform: uppercase;
  margin: 20px auto;
  font-size: clamp(12px, 2.5vw, 20px);
  font-weight: 600;
}

.go_for_shopping_link {
  padding: clamp(10px, 2vw, 15px) clamp(12px, 3vw, 20px);
  font-size: clamp(12px, 2vw, 18px);
  font-weight: bold;
  text-align: center;
  background-color: blue;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.go_for_shopping_link a {
  text-decoration: none;
  color: white;
}

.go_for_shopping_link:active {
  transform: scale(1.01);
}

.cart__page__item_list {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* gap: 16px; */
  margin: 10px;
}

.cart__page__rightside__checkout {
  background: white;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.cart__page__subtotal {
  display: flex;
  gap: 20px;
  white-space: nowrap;
}

.cart__page__total_payment__container hr {
  margin: 10px 0;
  border-color: rgba(128, 128, 128, 0.196);
}

.cart__page__proceed_to_checkout {
}

.cart__page__proceed_to_checkout button {
  background: #ffce12;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* ============================
MEDIA QUERY
============================ */

@media (max-width: 768px) {
  .cart__page__rightside__checkout {
    flex: 1 1 100%;
  }
}
