.banner_images {
  position: relative;
}

.banner_images::after {
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 120px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  z-index: 2;
}

.banner_images .swiper__container {
  z-index: 1;
}

.banner_images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ================================
navigation arrows
================================ */

.swiper__container .swiper-button-prev {
  color: white;
  background: linear-gradient(to right, black, transparent);
  border-radius: 4px 0 0 4px;
}

.swiper__container .swiper-button-next {
  color: white;
  background: linear-gradient(to left, black, transparent);
  border-radius: 4px 0 0 4px;
}

/* ===========================
MEDIA QUERY
=========================== */
@media (max-width: 768px) {
  .swiper__container .swiper-button-next,
  .swiper__container .swiper-button-prev {
    width: 30px;
  }

  .banner_images::after {
    height: 60px;
  }
}
