.back__to__top {
  background-color: #1a2e4a;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
}

.back__to__top button {
  border: none;
  background: transparent;
  color: white;
  width: 100%;
  cursor: pointer;
}

.back__to__top:hover {
    background-color: #1a2e4add;
  cursor: pointer;
}
